.basketContainer {
  position: absolute;
  bottom: 0;
  right: 15%;
  transform: translateX(-15%);
  .apple {
    position: absolute;
    &.basket-apple-0 {
      top: 35%;
      left: 20%;
      transform: translateX(-15%);
      z-index: -1;
    }
    &.basket-apple-1 {
      top: 35%;
      left: 45%;
      transform: translateX(-35%);
      z-index: -1;
    }
    &.basket-apple-2 {
      top: 35%;
      left: 70%;
      transform: translateX(-55%);
      z-index: -1;
    }
    &.basket-apple-3 {
      top: 22%;
      left: 32%;
      transform: translateX(-25%);
    }
    &.basket-apple-4 {
      top: 22%;
      left: 57%;
      transform: translateX(-45%);
    }
    &.basket-apple-5 {
      top: 10%;
      left: 38%;
      transform: translateX(-15%);
    }
    &.basket-apple-6 {
      top: 20%;
      left: 58%;
      transform: translateX(-25%);
    }
    &.basket-apple-7 {
      top: 30%;
      left: 58%;
      transform: translateX(-15%);
    }
    &.basket-apple-8 {
      top: 10%;
      left: 28%;
      transform: translateX(-15%);
    }
  }
}
